vendor/
config.php
.env
github_auth.php
/*const firebaseConfig = {
  apiKey: "AIzaSyBvIQfWQFNT7ZxJMNGe2aijQTEGHd7LuCo",
  authDomain: "myproject-1-6d3e9.firebaseapp.com",
  projectId: "myproject-1-6d3e9",
  storageBucket: "myproject-1-6d3e9.firebasestorage.app",
  messagingSenderId: "458234190480",
  appId: "1:458234190480:web:96f761f4eda2fd5f645615"
};*/
vendor/
.env